<div class="container__footer">
    <footer role="footer" class="footer">

        <!-- Footer Left Side-->
        <div class="footer__left">
            <div class="footer__left__logo">
                <a href="/"><img src="{{ site.logo }}" class="footer__list__logo" alt="{{ site.title }}" /></a>
            </div>
            <div class="footer__left__description">{{ site.description }}</div>
            <div class="footer__left__copyright">{{ site.copyright }}</div>
            <div class="footer__left__transistor">
              <a href="https://transistor.fm/?via=chris">Podcasts proudly hosted on Transistor.fm</a>
            </div>
        </div>

        <!-- Footer Right Side -->
        <div class="footer__right">
            <div class="footer__right__header">Goodstuff Elsewhere</div>
            <div class="footer__right__page"><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtist?id=843385597" class="footer__list__link">iTunes</a></div>
            <div class="footer__right__page"><a href="https://twitter.com/goodstufffm" class="footer__list__link">Twitter</a></div>
            <div class="footer__right__page"><a href="https://www.twitch.tv/gsfm" class="footer__list__link">Twitch</a></div>
            <div class="footer__right__page"><a href="https://www.facebook.com/goodstuff.fm/" class="footer__list__link">Facebook</a></div>
            <div class="footer__right__page"><a href="https://www.youtube.com/user/goodstuffdotfm" class="footer__list__link">YouTube</a></div>
        </div>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/3.js" site="SXMVRAFS"></script>
<!-- / Fathom -->

    </footer>
</div>
