<div class="container__footer">
    <footer aria-label="footer" class="footer">

        <!-- Footer Left Side-->
        <div class="footer__left">
            <div class="footer__left__logo">
                <a href="/"><img src="{{ site.logo }}" class="footer__list__logo" alt="{{ site.title }}" /></a>
            </div>
            <div class="footer__left__description">{{ site.description }}</div>
            <div class="footer__left__copyright">{{ site.copyright }}</div>
            <div class="footer__left__transistor">
              <a href="https://transistor.fm/?via=chris">Podcasts proudly hosted on Transistor.fm</a>
            </div>
        </div>

        <!-- Footer Right Side -->
        <div class="footer__right">
            <div class="footer__right__header">Goodstuff Elsewhere</div>
            <div class="footer__right__page"><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtist?id=843385597" class="footer__list__link">Apple Podcasts</a></div>
            <div class="footer__right__page"><a href="https://twitter.com/goodstuffcasts" class="footer__list__link">Twitter</a></div>
            <div class="footer_right_page"><a href="https://www.instagram.com/goodstuff_network/" class="footer_list_link">Instagram</a></div>
            <div class="footer__right__page"><a href="https://www.twitch.tv/gsfm" class="footer__list__link">Twitch</a></div>
            <div class="footer__right__page"><a href="https://www.youtube.com/user/goodstuffdotfm" class="footer__list__link">YouTube</a></div>
            <div class="footer_right_page"><a href="https://www.tiktok.com/@goodstuffnetwork" class="footer_list_link">TikTok</a></div>
        </div>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Passion+One:700|Roboto:300,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/3.js" site="SXMVRAFS"></script>
<!-- / Fathom -->

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/65bce7303d.js" crossorigin="anonymous"></script>

<!-- Netlify Identity Widget -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- TimeJump Javascript -->
<script src="/js/timeJump.js"></script>

    </footer>
</div>
