<div class="container__footer">
  <footer role="footer" class="footer">

    <!-- Footer Left Side-->
    <div class="footer__left">
      <div class="footer__left__logo"><a href="/"><img src="{{ site.logo }}" class="footer__list__logo" alt="{{ site.title }}" /></a></div>
      <div class="footer__left__description">{{ site.description }}</div>
      <div class="footer__left__copyright">{{ site.copyright }}</div>
    </div>

    <!-- Footer Right Side -->
    <div class="footer__right">
      <div class="footer__right__header">Goodstuff Elsewhere</div>
      <div class="footer__right__page"><a href="site.itunes" class="footer__list__link">iTunes</a></div>
      <div class="footer__right__page"><a href="site.reddit" class="footer__list__link">Reddit</a></div>
      <div class="footer__right__page"><a href="/feed.xml" class="footer__list__link">Master Feed</a></div>
      <div class="footer__right__page"><a href="/support/" class="footer__list__link">Support our Shows</a></div>
    </div>

</footer>
</div>
