<div class="container mx-auto">
    <nav role="navigation">
                <a href="/"><img src="{{ site.logo-small }}" alt="{{ site.title }}" class="float-left/></a>
        <ul class="">
            {% for item in site.data.navigation.header %}
            <li class="">
                <a href="{{ item.url }}" class="header__list__link">{{ item.title }}</a>
            </li>
            {% endfor %}
            {% for collection in site.collections limit: 1 %}
            {% if collection.live == true %}
            <li>
                <a href="/live" class="">Live</a>
            </li>
            {% elsif collection.live != true %}
            <li class="">
                <a href="/live" class="">Live</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
