<div class="container__wide__dark">
    <nav role="navigation" class="header">
        <ul class="header__list">
            <!-- Goodstuff Logo -->
            <li class="header__list__logo">
                <a href="/"><img src="{{ site.logo-small }}" alt="{{ site.title }}" /></a>
            </li>
            <!-- Page Loop -->
            {% for item in site.data.navigation.header %}
            <li class="header__list__item">
                <a href="{{ item.url }}" class="header__list__link">{{ item.title }}</a>
            </li>
            {% endfor %}

            {% for collection in site.collections limit: 1 %}
            {% if collection.live == true %}
            <li class="header__list__live">
                <a href="/live" class="header__list__link">Live</a>
            </li>
            {% elsif collection.live != true %}
            <li class="header__list__notlive">
                <a href="/live" class="header__list__link">Live</a>
            </li>
            {% endif %}
            {% endfor %}


        </ul>
    </nav>
</div>
