<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    {% include nav.html %}
    <div class="container">

        {% assign show = site.data.shows[page.show] %}

        <!-- Show Information -->
        <h1 class="episode__show__name"><a href="/{{ show.collection }}">{{ show.name }}</a></h1>
        <ul class="episode__show__info">
            <li class="episode__show__artwork">
                <a href="/{{ show.collection }}"><img src="{{ show.artwork-small }}" alt="Artwork" height="50" width="50" loading="lazy"/></a>
            </li>
            <li class="episode__show__hosts">Hosted by {{ show.hosts }}</li>
            <li class="episode__show__description">{{ show.description | truncate: 256 | markdownify }}</li>
            <li class="episode__show__links">
              <a href="{{ show.rss }}"><button class="rss"><i class="fa fa-rss" aria-hidden="true"></i>RSS</button></a>
              {% if show.itunes %}
              <a href="{{ show.itunes }}" title="Subscribe on Podcasts"><button type="button" class="apple"><i class="fab fa-apple" aria-hidden="true"></i>Podcasts</button></a>
              {% endif %}
              {% if show.pocketcasts %}
              <a href="{{ show.pocketcasts }}" title="Subscribe on Pocket Casts"><button type="button" class="pocketcasts"><i class="fa fa-headphones" aria-hidden="true"></i>Pocket Casts</button></a>
              {% endif %}
              {% if show.overcast %}
              <a href="{{ show.overcast }}" title="Subscribe on Overcast"><button type="button" class="overcast"><i class="fa fa-headphones" aria-hidden="true"></i>Overcast</button></a>
              {% endif %}
              {% if show.youtube %}
              <a href="{{ show.youtube }}" title="Subscribe on YouTube"><button type="button" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</button></a>
              {% endif %}
              {% if show.anchor %}
              <a href="{{ show.anchor }}" title="Subscribe on Anchor"><button type="button" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i>Anchor</button></a>
              {% endif %}
              {% if show.spotify %}
              <a href="{{ show.spotify }}" title="Subscribe on Spotify"><button type="button" class="spotify"><i class="fab fa-spotify" aria-hidden="true"></i>Spotify</button></a>
              {% endif %}
            </li>
        </ul>

        <!-- Next and Previous Episodes Link -->
        <div class="episode__navigation">

            {% if page.next.url and page.previous.url and page.next.title != 'Feed' %}
            <a class="episode__navigation__previous" href="{{ page.previous.url }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous Episode</a>
            <a class="episode__navigation__next" href="{{ page.next.url }}">Next Episode <i class="fa fa-chevron-right" aria-hidden="true"></i></a> {% elsif page.previous.url %}
            <a class="episode__navigation__previous" href="{{ page.previous.url }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous Episode</a> {% elsif page.next.url and page.next.title != 'Feed' %}
            <a class="episode__navigation__next" href="{{ page.next.url }}">Next Episode <i class="fa fa-chevron-right" aria-hidden="true"></i></a> {% endif %}

        </div>

        <hr class="page__rule" />

        <!-- Episode Information -->
        <div class="episode__title">
            {{ page.title }}
        </div>

        <div class="episode__date">
            Episode {{ page.episode }} • Published {{ page.date | date: "%b %d, %Y" }}
        </div>

        <div class="episode__description">
            {{ page.description | markdownify }}
        </div>

        {% if page.sponsor %}
        <div class="episode__sponsor">
            <div class="episode__sponsor__header">
                This episode of <a href="/{{ show.collection }}">{{ show.name }}</a> is sponsored by:
            </div>
            <div class="episode__sponsor__copy">
                {{ page.sponsor | markdownify }}
            </div>
        </div>
        {% endif %}

        {% if page.anchor %}
          <div class="episode__player__anchor">
            <div class="videoWrapper">
              <iframe width="100%" height="162px" src="{{ page.anchor }}" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        {% endif %}

        {% if page.mp3 %}

        <div class="episode__transistor">
          Feed and MP3 files are proudly hosted by <a href="https://transistor.fm/?via=chris">Transistor.fm</a>. <a href="https://transistor.fm/how-to-start-a-podcast/?via=chris">Learn how to start your own podcast</a>.
        </div>

        <div class="episode__player__mp3">
            <audio style="width: 100%;" controls="" preload="none">
            <source src="{{ page.mp3 }}" type="audio/mp3">
          </audio>
        </div>

        <ul class="episode__player__links">
            <li><a href="{{ page.mp3 }}"><i class="fa fa-download fa-1x" aria-hidden="true"></i>Download MP3</a></li>
            <li><a href="http://twitter.com/intent/tweet?text={{ show.name }} {{ page.episode }}: {{ page.title | xml_escape }} on @GoodstuffFM - goodstuff.network{{ page.url }}" target="_blank"><i class="fa fa-twitter fa-1x"></i>Share on Twitter</a></li>
            <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://goodstuff.network{{ page.url }}" target="_blank"><i class="fa fa-facebook fa-1x"></i>Share on Facebook</a></li>
        </ul>

        <hr class="page__rule" /> {% endif %}

        <!-- Page Content -->

        {% if page.video %}

        <div class="episode__header">
          Video
        </div>

        <div class="episode__video">
          <div class="videoWrapper">
            <iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        {% endif %}

        <div class="episode__header">
            Links and Show Notes
        </div>

        <div class="episode__content">

          {{ page.content }}

        </div>

        <!-- Begin MailChimp Signup Form

        <div id="mc_embed_signup">
        <form action="https://goodstuff.us18.list-manage.com/subscribe/post?u=af3ba6bbcfd21ee3727849b08&amp;id=eb4e76b04f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
        	<label for="mce-EMAIL">Want Goodstuff In Your Inbox? Subscribe for Free.</label>
        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af3ba6bbcfd21ee3727849b08_eb4e76b04f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->

    </div>

    <!-- Footer -->
    {{ page.footer_scripts }}

    </div>

    {% include footer.html %}

</body>

</html>
