<!DOCTYPE html>
<html>
  <head>

    {% assign show = site.data.shows[page.show] %}

    {% include head.html %}

    <!-- Twitter Card -->
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="{{ show.show-twitter }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ show.description }}" />
    <meta name="twitter:image" content="{{ show.artwork }}" />
    <meta name="twitter:player" content="{% include container.html %}" />
    <meta name="twitter:player:width" content="480" />
    <meta name="twitter:player:height" content="480" />
    <meta name="twitter:player:stream" content="{{ page.mp3 }}" />
    <meta name="twitter:player:stream:content_type" content="audio/mp3" />

  </head>


  <body>
    {% include nav.html %}
    <div class="container">

<!-- Show Information -->
      <h1 class="episode__show__name"><a href="/{{ show.collection }}">{{ show.name }}</a></h1>
      <ul class="episode__show">
        <li class="episode__show__artwork"><a href="/{{ show.collection }}"><img src="{{ show.artwork }}" alt="Artwork" height="50" width="50"/></a></li>
        <li class="episode__show__hosts">Hosted by {{ show.hosts }}</li>
        <li class="episode__show__description">{{ show.description | truncate: 256 }}</li>
        <li class="episode__show__link">
          <a href="{{ show.itunes }}" title="Subscribe in iTunes"><img src="/assets/subscribe-itunes@2x.png" alt="Subscribe in iTunes"></a>
          <a href="{{ show.pocketcasts }}" title="Subscribe in Pocket Casts"><img src="/assets/subscribe-pocketcasts@2x.png" alt="Subscribe in Pocket Casts"></a>
          <a href="{{ show.overcast }}" title="Subscribe in Overcast"><img src="/assets/subscribe-overcast@2x.png" alt="Subscribe in Overcast"></a>
          <a href="{{ show.rss }}" title="Subscribe via RSS"><img src="/assets/subscribe-rss@2x.png" alt="Subscribe to RSS Feed"></a>
        </li>
      </ul>

<!-- Next and Previous Episodes Link -->
      <div class="episode__navigation">

        {% if page.next.url and page.previous.url and page.next.title != 'Feed' %}
          <a class="prev" href="{{ page.previous.url }}">Previous</a> •  <a class="next" href="{{ page.next.url }}">Next</a>
          {% elsif page.previous.url %}
          <a class="prev" href="{{ page.previous.url }}">Previous</a>
          {% elsif page.next.url and page.next.title != 'Feed' %}
          <a class="next" href="{{ page.next.url }}">Next</a>
        {% endif %}

        <hr class="page__rule" />

<!-- Episode Information -->
      <div class="episode__title">
        {{ page.title }}
      </div>

      <div class="episode__date">
        Episode {{ page.episode }} • Published {{ page.date | date: "%b %d, %Y" }}
      </div>

      <div class="episode__description">
        {{ page.description }}
      </div>

      {% if page.sponsor %}
      <div class="episode__sponsor">
        <div class="episode__sponsor__header">
          This episode of <a href="/{{ show.collection }}">{{ show.name }}</a> is sponsored by: <a href="{{ page.sponsor-link }}">{{ page.sponsor }}</a>
        </div>

        {% if page.sponsor-copy %}
        <div class="episode__sponsor__copy">
          {{ page.sponsor-copy }}
        </div>
        {% endif %}

      </div>
      {% endif %}

      {% if page.mp3 %}
        <div class="episode__player__mp3">
          <audio style="width: 100%;"controls="">
            <source src="{{ page.mp3 }}" type="audio/mp3">
          </audio>
        </div>

        <ul class="episode__player__links">
          <li><a href="{{ page.mp3 }}"><i class="fa fa-download fa-1x" aria-hidden="true"></i>Download MP3</a></li>
          <li><a href="http://twitter.com/intent/tweet?text={{ show.name }} {{ page.episode }}: {{ page.title }} on @GoodstuffFM - goodstuff.fm{{ page.url }}" target="_blank"><i class="fa fa-twitter fa-1x"></i>Share on Twitter</a></li>
          <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://goodstuff.fm{{ page.url }}" target="_blank"><i class="fa fa-facebook fa-1x"></i>Share on Facebook</a></li>
        </ul>

        <hr class="page__rule" />
      {% endif %}

<!-- Page Content -->

      <div class="episode__header">
        Links and Show Notes
      </div>

      <div class="episode__content">
        {{ page.content }}
      </div>

    </div>



      {{ page.footer_scripts }}

    </div>

  {% include footer.html %}

  </body>

</html>
