<!DOCTYPE html>
<html>

<!-- Page Information -->
{% include head.html %}
<body>

<!-- Navigation Bar -->
{% include nav.html %}

<!-- Latest Episode Banner -->
<div class="container__wide__red">



  {% for collection in site.collections limit:1 %}
  {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' %}
  {% assign show = site.data.shows[collection.label] %}
  {% assign latest = collection.docs | sort | reverse %}
  {% for doc in latest offset:1 limit:1 %}



  <div class="container__banner">
    <h2 class="latest-episode__header">Latest Episode</h2>
    <div class="latest-episode__artwork">
      <a href="{{ doc.url }}"><img src="{{ show.artwork }}" alt="Artwork"/></a>
    </div>
    <div class="latest-episode__details__show">
      {{show.name}}
    </div>
    <div class="latest-episode__details__title">
      <a href="{{ doc.url }}">{{ doc.title | remove: "_" | truncate: 64 }}</a>
    </div>
    <div class="latest-episode__details__date">
      Published {{ doc.date | date: "%b %d, %Y" }}
    </div>
    <div class="latest-episode__details__description">
      {{ doc.description | truncate: 256 }}
    </div>
    <div class="latest-episode__details__listen">
      	<a href="{{ doc.url }}">&#9654; Listen to the episode</a>
    </div>
  </div>

  {% endfor %}
  {% endunless %}
  {% endfor %}
</div>

<!-- List of Recent Episodes -->
<div class="container__recent-episodes">
  <div class="recent-episodes__header">Recent Episodes</div>
  <div class="recent-episodes">
    {% for collection in site.collections limit:5 %}
    {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' %}
    {% assign show = site.data.shows[collection.label] %}
      <div class="recent-episodes__list">
        {% assign latest = collection.docs | sort | reverse %}
        {% for doc in latest offset:1 limit:1 %}
        <div class="recent-episodes__artwork"><a href="{{ doc.id }}"><img src="{{ show.artwork }}" alt="Artwork"/></a></div>
        <div class="recent-episodes__title"><a href="{{ doc.url }}">{{ doc.title | remove: "_"  | truncate: 64 }}</a></div>
        <div class="recent-episodes__date">{{ doc.date | date: "%b %d, %Y" }}</div>
        {% endfor %}
      </div>
    {% endunless %}
    {% endfor %}
  </div>
</div>


<!-- List of all of our shows -->
<div class="container">
  <div class="our-shows__header">Our Shows</div>
  <div class="our-shows">
  {% for collection in site.collections %}
  {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' %}
  {% assign show = site.data.shows[collection.label] %}
  <div class="our-shows__list">
    <div class="our-shows__artwork"><a href="{{ collection.slug }}"><img src="{{ show.artwork }}" alt="Artwork"/></a></div>
    <div class="our-shows__title"><a href="{{ collection.slug }}">{{ show.name }}</a></div>
  </div>
  {% endunless %}
  {% endfor %}

  </div>
</div>
  </div>



<!-- Footer -->
{% include footer.html %}


</body>

</html>
