<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include nav.html %}
    <div class="container">

        <h1 class="page__header">Live Shows</h1>

        <div class="page__description">{{ page.description | markdownify }}</div>

        {% for collection in site.collections %}
        {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.output == false or collection.retired == true %}
        {% assign show = site.data.shows[collection.label] %}
        {% if collection.live == true %}

        <ul class="shows__list">
          <li class="shows__list__artwork"><a href="/{{ show.collection }}"><img src="{{ show.artwork }}" alt="Artwork" height="100" width="100" loading="lazy"/></a></li>
          <li class="shows__list__name"><h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
          <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
          <li class="shows__list__description">{{ show.description | truncate: 256 }}</li>
          <li class="shows__list__link">
            <button class="rss"><a href="{{ show.rss }}"><i class="fa fa-rss" aria-hidden="true"></i>RSS</a>
            {% if show.itunes %}
            <button type="button" class="apple"><a href="{{ show.itunes }}" title="Subscribe on Podcasts"><i class="fab fa-apple" aria-hidden="true"></i>Podcasts</a>
            {% endif %}
            {% if show.pocketcasts %}
            <button type="button" class="pocketcasts"><a href="{{ show.pocketcasts }}" title="Subscribe on Pocket Casts"><i class="fa fa-headphones" aria-hidden="true"></i>Pocket Casts</a>
            {% endif %}
            {% if show.overcast %}
            <button type="button" class="overcast"><a href="{{ show.overcast }}" title="Subscribe on Overcast"><i class="fa fa-headphones" aria-hidden="true"></i>Overcast</a>
            {% endif %}
            {% if show.youtube %}
            <button type="button" class="youtube"><a href="{{ show.youtube }}" title="Subscribe on YouTube"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</a>
            {% endif %}
            {% if show.anchor %}
            <button type="button" class="anchor"><a href="{{ show.anchor }}" title="Subscribe on Anchor"><i class="fa fa-anchor" aria-hidden="true"></i>Anchor</a>
            {% endif %}
            {% if show.spotify %}
            <button type="button" class="spotify"><a href="{{ show.spotify }}" title="Subscribe on Spotify"><i class="fab fa-spotify" aria-hidden="true"></i>Spotify</a>
            {% endif %}
          </li>
        </ul>

        {% endif %}
        {% endunless %}
        {% endfor %}

        <div class="page__twitch">

        <div class="video-container">

           <div id="twitch-embed"></div>

           <!-- Load the Twitch embed script -->
           <script src="https://embed.twitch.tv/embed/v1.js"></script>

           <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
           <script type="text/javascript">
             new Twitch.Embed("twitch-embed", {
               channel: "gsfm",
               layout: "video-with-chat",
               autoplay: true,
               allowfullscreen: true,
               muted: false,
               // only needed if your site is also embedded on embed.example.com and othersite.example.com
             });
           </script>
          </div>
          <br>

        </div>

        <div class="episode__content">
            {{ page.content | markdownify }}
        </div>

        <!-- Collection-based Live layout with Audio Only

        {% for collection in site.collections limit: 1 %}
        {% if collection.live == true %}

        <ul class="shows__list">
          <li class="shows__list__artwork"><a href="/{{ collection.slug }}"><img src="{{ collection.image }}" alt="Artwork" height="100" width="100"/></a></li>
          <li class="shows__list__name"><h3><a href="/{{ collection.slug }}">{{ collection.name }}</a></h3></li>
          <li class="shows__list__hosts">Hosted by {{ collection.hosts | join: ', ' }}</li>
          <li class="shows__list__description">{{ collection.description | truncate: 256 }}</li>
          <li class="shows__list__link">
            <a href="{{ collection.itunes }}" title="Subscribe in iTunes"><img src="/assets/subscribe-apple@2x.png" alt="Subscribe in iTunes"></a>
            <a href="{{ collection.pocketcasts }}" title="Subscribe in Pocket Casts"><img src="/assets/subscribe-pocketcasts@2x.png" alt="Subscribe in Pocket Casts"></a>
            <a href="{{ collection.overcast }}" title="Subscribe in Overcast"><img src="/assets/subscribe-overcast@2x.png" alt="Subscribe in Overcast"></a>
            <a href="{{ collection.rss }}" title="Subscribe via RSS"><img src="/assets/subscribe-rss@2x.png" alt="Subscribe to RSS Feed"></a>
          </li>
        </ul>

        <div class="episode__player__mp3">
          <audio style="width: 100%;"controls="">
            <source src="{{ page.mp3 }}" type="audio/mp3">
          </audio>

        <div class="page__description">
          {{ content }}

        {% else %}

        <h1 class="page__header">Not Currently Live</h1>
        <div class="page__description">
          Check the <a href="/schedule">broadcast schedule</a> for the next live recording.
        </div>

        {% endif %}
        {% endfor %}

      -->

        {{ page.footer_scripts }}
    </div>

    {% include footer.html %}
</body>

</html>
