<!DOCTYPE html>
<html lang="en">

<!-- Page Information -->
{% include head.html %}

<body>

    <!-- Navigation Bar -->
    {% include nav.html %}

    <div class="container__people">

        <h1 class="page__header">{{ page.title }}</h1>
        <p class="page__description">{{ page.content }}</p>
        <hr class="page__rule">

        <!-- List of Hosts -->
        <div class="hosts">

            <h2 class="page__subheader">Hosts</h2> {% for doc in site.people %}

            <ul class="hosts__list">
                <li class="hosts__list__image">
                    <a href="{{ doc.url }}">
                      {% if doc.image %}
                      <img src="{{ doc.image }}" alt="Photo of {{ doc.title }}" height="100" width="100" loading="lazy"/>
                      {% else %}
                      <img src="/assets/host-general.png" alt="Photo of {{ doc.title }}" height="100" width="100" loading="lazy"/>
                      {% endif %}
                    </a>
                </li>
                <li class="hosts__list__name"><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            </ul>

            {% endfor %}

        </div>

    </div>

    <!-- Footer -->
    {% include footer.html %}

</body>

</html>
