<!DOCTYPE html>
<html lang="en">

<!-- Page Information -->
{% include head.html %}

<body>

    <!-- Navigation Bar -->
    {% include nav.html %}

    <div class="container">

        <h1 class="page__header">Active Shows</h1>

        <hr class="page__rule">

        <!-- List of Shows -->
        <div class="shows">

            {% assign master = site.data.shows.master %}

            <ul class="shows__list">
                <li class="shows__list__artwork"><img src="{{ master.artwork-small }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3>{{ master.name }}</h3></li>
                <li class="shows__list__hosts">Hosted by {{ master.hosts }}</li>
                <li class="shows__list__description">{{ master.description }}</li>

                <li class="shows__list__link">
                  <a href="{{ master.rss }}"><button class="rss"><i class="fa fa-rss" aria-hidden="true"></i>RSS</button></a>
                  <a href="{{ master.itunes }}" title="Subscribe on Podcasts"><button type="button" class="apple"><i class="fab fa-apple" aria-hidden="true"></i>Podcasts</button></a>
                  <a href="{{ master.pocketcasts }}" title="Subscribe in Pocket Casts"><button type="button" class="pocketcasts"><i class="fa fa-headphones" aria-hidden="true"></i>Pocket Casts</button></a>
                  <a href="{{ master.overcast }}" title="Subscribe in Overcast"><button type="button" class="overcast"><i class="fa fa-headphones" aria-hidden="true"></i>Overcast</button></a>
                </li>
            </ul>

            <hr class="page__rule"> {% for collection in site.collections %} {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.retired == true or collection.output == false or collection.hidden == true or collection.inactive == true %} {% assign show = site.data.shows[collection.label]
            %}

            <ul class="shows__list">
                <li class="shows__list__artwork">
                    <a href="/{{ show.collection }}"><img src="{{ show.artwork-small }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
                <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
                <li class="shows__list__description">{{ show.description | truncate: 256 }}</li>

                <li class="shows__list__link">
                  <a href="{{ show.rss }}"><button class="rss"><i class="fa fa-rss" aria-hidden="true"></i>RSS</button></a>
                  {% if show.itunes %}
                    <a href="{{ show.itunes }}" title="Subscribe on Podcasts"><button type="button" class="apple"><i class="fab fa-apple" aria-hidden="true"></i>Podcasts</button></a>
                  {% endif %}
                  {% if show.pocketcasts %}
                    <a href="{{ show.pocketcasts }}" title="Subscribe on Pocket Casts"><button type="button" class="pocketcasts"><i class="fa fa-headphones" aria-hidden="true"></i>Pocket Casts</button></a>
                  {% endif %}
                  {% if show.overcast %}
                    <a href="{{ show.overcast }}" title="Subscribe on Overcast"><button type="button" class="overcast"><i class="fa fa-headphones" aria-hidden="true"></i>Overcast</button></a>
                  {% endif %}
                  {% if show.youtube %}
                    <a href="{{ show.youtube }}" title="Subscribe on YouTube"><button type="button" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</button></a>
                  {% endif %}
                  {% if show.anchor %}
                    <a href="{{ show.anchor }}" title="Subscribe on Anchor"><button type="button" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i>Anchor</button></a>
                  {% endif %}
                {% if show.spotify %}
                    <a href="{{ show.spotify }}" title="Subscribe on Spotify"><button type="button" class="spotify"><i class="fab fa-spotify" aria-hidden="true"></i>Spotify</button></a>
                {% endif %}
                </li>
            </ul>

            <hr class="page__rule"> {% endunless %} {% endfor %}

        </div>

        <!-- List of Inactive Shows -->
        <div class="shows">

            <h2 class="page__subheader">Inactive shows</h2> {% for collection in site.collections %} {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.output == false %} {% assign show = site.data.shows[collection.label] %} {% if collection.inactive
            == true %}

            <ul class="shows__list">
                <li class="shows__list__artwork">
                    <a href="/{{ show.collection }}"><img src="{{ show.artwork-small }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
                <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
                <li class="shows__list__description">{{ show.description }}</li>
                <li class="shows__list__link">
                    <a href="{{ show.rss }}"><button class="rss"><i class="fa fa-rss" aria-hidden="true"></i>RSS</button></a>
                  {% if show.itunes %}
                    <a href="{{ show.itunes }}" title="Subscribe on Podcasts"><button type="button" class="apple"><i class="fab fa-apple" aria-hidden="true"></i>Podcasts</button></a>
                  {% endif %}
                  {% if show.pocketcasts %}
                    <a href="{{ show.pocketcasts }}" title="Subscribe on Pocket Casts"><button type="button" class="pocketcasts"><i class="fa fa-headphones" aria-hidden="true"></i>Pocket Casts</button></a>
                  {% endif %}
                  {% if show.overcast %}
                    <a href="{{ show.overcast }}" title="Subscribe on Overcast"><button type="button" class="overcast"><i class="fa fa-headphones" aria-hidden="true"></i>Overcast</button></a>
                  {% endif %}
                  {% if show.youtube %}
                    <a href="{{ show.youtube }}" title="Subscribe on YouTube"><button type="button" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</button></a>
                  {% endif %}
                  {% if show.anchor %}
                    <a href="{{ show.anchor }}" title="Subscribe on Anchor"><button type="button" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i>Anchor</button></a>
                  {% endif %}
                {% if show.spotify %}
                    <a href="{{ show.spotify }}" title="Subscribe on Spotify"><button type="button" class="spotify"><i class="fab fa-spotify" aria-hidden="true"></i>Spotify</button></a>
                {% endif %}
                </li>
                </li>
            </ul>

            <hr class="page__rule"> {% endif %} {% endunless %} {% endfor %}

        <!-- List of Retired Shows -->
        <div class="shows">

            <h2 class="page__subheader">Retired shows</h2> {% for collection in site.collections %} {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.output == false %} {% assign show = site.data.shows[collection.label] %} {% if collection.retired
            == true %}

            <ul class="shows__list">
                <li class="shows__list__artwork">
                    <a href="/{{ show.collection }}"><img src="{{ show.artwork-small }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
                <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
                <li class="shows__list__description">{{ show.description }}</li>
                <li class="shows__list__link">
                    <a href="{{ show.rss }}"><button class="rss"><i class="fa fa-rss" aria-hidden="true"></i>RSS</button></a>
                  {% if show.itunes %}
                    <a href="{{ show.itunes }}" title="Subscribe on Podcasts"><button type="button" class="apple"><i class="fab fa-apple" aria-hidden="true"></i>Podcasts</button></a>
                  {% endif %}
                  {% if show.pocketcasts %}
                    <a href="{{ show.pocketcasts }}" title="Subscribe on Pocket Casts"><button type="button" class="pocketcasts"><i class="fa fa-headphones" aria-hidden="true"></i>Pocket Casts</button></a>
                  {% endif %}
                  {% if show.overcast %}
                    <a href="{{ show.overcast }}" title="Subscribe on Overcast"><button type="button" class="overcast"><i class="fa fa-headphones" aria-hidden="true"></i>Overcast</button></a>
                  {% endif %}
                  {% if show.youtube %}
                    <a href="{{ show.youtube }}" title="Subscribe on YouTube"><button type="button" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</button></a>
                  {% endif %}
                  {% if show.anchor %}
                    <a href="{{ show.anchor }}" title="Subscribe on Anchor"><button type="button" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i>Anchor</button></a>
                  {% endif %}
                {% if show.spotify %}
                    <a href="{{ show.spotify }}" title="Subscribe on Spotify"><button type="button" class="spotify"><i class="fab fa-spotify" aria-hidden="true"></i>Spotify</button></a>
                {% endif %}
                </li>
                </li>
            </ul>

            <hr class="page__rule"> {% endif %} {% endunless %} {% endfor %}

        </div>

    </div>


    <!-- Footer -->
    {% include footer.html %}


</body>

</html>
