<!DOCTYPE html>
<html>

<!-- Page Information -->
{% include head.html %}

<body>

    <!-- Navigation Bar -->
    {% include nav.html %}

    <div class="container">

        <h1 class="page__header">Shows</h1>

        <hr class="page__rule">

        <!-- List of Shows -->
        <div class="shows">

            {% assign master = site.data.shows.master %}

            <ul class="shows__list">
                <li class="shows__list__artwork"><img src="{{ master.artwork }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3>{{ master.name }}</h3></li>
                <li class="shows__list__hosts">Hosted by {{ master.hosts }}</li>
                <li class="shows__list__description">{{ master.description }}</li>
                <li class="shows__list__description"><a href="{{ master.rss }}"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe to RSS Feed</a></li>

                <li class="shows__list__link">
                    <a href="{{ master.itunes }}" title="Subscribe in iTunes"><img src="/assets/subscribe-apple@2x.png" alt="Subscribe in iTunes" loading="lazy"></a>
                    <a href="{{ master.pocketcasts }}" title="Subscribe in Pocket Casts"><img src="/assets/subscribe-pocketcasts@2x.png" alt="Subscribe in Pocket Casts" loading="lazy"></a>
                    <a href="{{ master.overcast }}" title="Subscribe in Overcast"><img src="/assets/subscribe-overcast@2x.png" alt="Subscribe in Overcast" loading="lazy"></a>
                </li>
            </ul>

            <hr class="page__rule"> {% for collection in site.collections %} {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.retired == true or collection.output == false or collection.hidden == true or collection.inactive == true %} {% assign show = site.data.shows[collection.label]
            %}

            <ul class="shows__list">
                <li class="shows__list__artwork">
                    <a href="/{{ show.collection }}"><img src="{{ show.artwork }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
                <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
                <li class="shows__list__description">{{ show.description | truncate: 256 }}</li>
                <li class="shows__list__description"><a href="{{ show.rss }}"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe to RSS Feed</a></li>

                <li class="shows__list__link">
                  {% if show.itunes %}
                    <a href="{{ show.itunes }}" title="Subscribe in iTunes"><img src="/assets/subscribe-apple@2x.png" alt="Subscribe in iTunes" loading="lazy"></a>
                  {% endif %}
                  {% if show.pocketcasts %}
                    <a href="{{ show.pocketcasts }}" title="Subscribe in Pocket Casts"><img src="/assets/subscribe-pocketcasts@2x.png" alt="Subscribe in Pocket Casts" loading="lazy"></a>
                  {% endif %}
                  {% if show.overcast %}
                    <a href="{{ show.overcast }}" title="Subscribe in Overcast"><img src="/assets/subscribe-overcast@2x.png" alt="Subscribe in Overcast" loading="lazy"></a>
                  {% endif %}
                  {% if show.youtube %}
                    <a href="{{ show.youtube }}" title="Subscribe on YouTube"><img src="/assets/subscribe-youtube@2x.png" alt="Subscribe on YouTube" loading="lazy"></a>
                  {% endif %}
                  {% if show.anchor %}
                    <a href="{{ show.anchor }}" title="Subscribe in Anchor"><img src="/assets/subscribe-anchor@2x.png" alt="Subscribe in Anchor" loading="lazy"></a>
                  {% endif %}
                </li>
            </ul>

            <hr class="page__rule"> {% endunless %} {% endfor %}

        </div>

        <!-- List of Inactive Shows -->
        <div class="shows">

            <h2 class="page__subheader">Inactive shows</h2> {% for collection in site.collections %} {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.output == false %} {% assign show = site.data.shows[collection.label] %} {% if collection.inactive
            == true %}

            <ul class="shows__list">
                <li class="shows__list__artwork">
                    <a href="/{{ show.collection }}"><img src="{{ show.artwork }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
                <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
                <li class="shows__list__description">{{ show.description }}</li>
                <li class="shows__list__description"><a href="{{ show.rss }}"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe to RSS Feed</a></li>
                <li class="shows__list__link">
                    <a href="{{ show.itunes }}" title="Subscribe in iTunes"><img src="/assets/subscribe-apple@2x.png" alt="Subscribe in iTunes" loading="lazy"></a>
                    <a href="{{ show.pocketcasts }}" title="Subscribe in Pocket Casts"><img src="/assets/subscribe-pocketcasts@2x.png" alt="Subscribe in Pocket Casts" loading="lazy"></a>
                    <a href="{{ show.overcast }}" title="Subscribe in Overcast"><img src="/assets/subscribe-overcast@2x.png" alt="Subscribe in Overcast" loading="lazy"></a>
                </li>
                </li>
            </ul>

            <hr class="page__rule"> {% endif %} {% endunless %} {% endfor %}

        <!-- List of Retired Shows -->
        <div class="shows">

            <h2 class="page__subheader">Retired shows</h2> {% for collection in site.collections %} {% unless collection.label == 'people' or collection.label == 'posts' or collection.label == 'uploads' or collection.output == false %} {% assign show = site.data.shows[collection.label] %} {% if collection.retired
            == true %}

            <ul class="shows__list">
                <li class="shows__list__artwork">
                    <a href="/{{ show.collection }}"><img src="{{ show.artwork }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
                </li>
                <li class="shows__list__name">
                    <h3><a href="/{{ show.collection }}">{{ show.name }}</a></h3></li>
                <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
                <li class="shows__list__description">{{ show.description }}</li>
                <li class="shows__list__description"><a href="{{ show.rss }}"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe to RSS Feed</a></li>
                <li class="shows__list__link">
                    <a href="{{ show.itunes }}" title="Subscribe in iTunes"><img src="/assets/subscribe-apple@2x.png" alt="Subscribe in iTunes" loading="lazy"></a>
                    <a href="{{ show.pocketcasts }}" title="Subscribe in Pocket Casts"><img src="/assets/subscribe-pocketcasts@2x.png" alt="Subscribe in Pocket Casts" loading="lazy"></a>
                    <a href="{{ show.overcast }}" title="Subscribe in Overcast"><img src="/assets/subscribe-overcast@2x.png" alt="Subscribe in Overcast" loading="lazy"></a>
                </li>
                </li>
            </ul>

            <hr class="page__rule"> {% endif %} {% endunless %} {% endfor %}

        </div>

    </div>


    <!-- Footer -->
    {% include footer.html %}


</body>

</html>
