<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include nav.html %}
    <div class="container">

        {% assign show = site.data.shows[page.show] %}

        <h1 class="page__header">{{ show.name }}</h1>

        <ul class="shows__list">
            <li class="shows__list__artwork"><img src="{{ show.artwork }}" alt="Artwork" height="100" width="100" loading="lazy"/></a>
            </li>
            <li class="shows__list__hosts">Hosted by {{ show.hosts | join: ', ' }}</li>
            <li class="shows__list__description">{{ show.description | truncate: 384 }}</li>
            <li class="shows__list__description"><a href="{{ show.rss }}"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe to RSS Feed</a></li>
            <li class="shows__list__link">
                <a href="{{ show.youtube }}" title="Subscribe on YouTube"><img src="/assets/subscribe-youtube@2x.png" alt="Subscribe on YouTube" loading="lazy"></a>
            </li>
        </ul>

        <hr class="page__rule">


        <!-- If a show records live
      <div class="page__description">
        This show shows live. Check the <a href="/schedule">schedule</a>.
      </div>
-->


        {% assign episodes = site[show.collection] | reverse %} {% for doc in episodes %} {% if doc.title != show.name %} {% unless doc.title == 'Feed' %}

        <div class="show__episode__title">
            <a href="{{ doc.episode }}">{{ doc.title }}</a>
        </div>

        <div class="show__episode__date">
            Episode {{ doc.episode }} • Published {{ doc.date | date: "%b %d, %Y" }}
        </div>

        <div class="show__episode__description">
            {{ doc.description | markdownify | truncate: 1024 }}
        </div>

        <hr class="page__rule"> {% endunless %} {% endif %} {% endfor %} {{ page.footer_scripts }}

    </div>

    {% include footer.html %}

</body>

</html>
