// Layout
//
// Styles for managing the structural hierarchy of the site.

.grid {
  display: grid; /* 1 */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 2 */
  grid-template-rows: auto; /* 3 */
}

.container {
  max-width: 700pt;
  background: none;
  min-height: 100%;
  margin: 0 auto;
  overflow: auto;
  padding-bottom:60px;

  &__wide {
    &__red {
      background: #DA5647;
      width: 100%;
    }
    &__dark {
      background: #292D36;
      width: 100%;
    }
  }

  &__banner {
    color: white;
    width: 700pt;
    height: 310pt;
    padding-bottom: 30pt;
    margin-left:  auto;
    margin-right: auto;
  }

  &__nav {
    width: 700pt;
    margin-left:  auto;
    margin-right: auto;
  }

  &__recent-episodes {
    width: 700pt;
    margin-left:  auto;
    margin-right: auto;
  }

  &__footer {
    background: $dark-blue;
  }



}

.header {
  height: 70pt;
  vertical-align: middle;
  line-height: 70pt;
  max-width: 700pt;
  margin-left:  auto;
  margin-right: auto;

  &__list {

    &__item {
      padding: 0 10pt;
      display: inline-block;
      vertical-align: middle;
    }

    &__logo {
      background-color: none;
      width: 40pt;
      height: 40pt;
      text-align: center;
      vertical-align: middle;
      line-height: 40pt;
    }

    &__link {
      color: #969DAF;
      text-decoration: none;
    }

  }

}

.latest-episode {

  &__header {
    width: 100%;
    padding-top: 30pt;
    padding-bottom: 20pt;
  }

  &__artwork {
    height: 240pt;
    float: left;
    padding-right: 20pt;
    img {
      height: 240pt;
    }
  }

  &__details {

    &__show {
      padding-bottom: 14pt;
    }

    &__title {
      padding-bottom: 10pt;
    }

    &__date {
      padding-bottom: 18pt;
    }

    &__description {
      padding-bottom: 20pt;
    }
  }
}

.recent-episodes {
  padding-top: 50pt;

  &__list {
    padding-top: 20pt;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    padding-right: 10pt;
  }

  &__artwork img {
    width: 100%;
  }

  &__title {
    padding-top: 10pt;
  }

  &__date {
    padding-top: 8pt;
  }

}

.our-shows {
  padding-top: 80pt;
  padding-bottom: 80pt;

  &__list {
    padding-top: 20pt;
    padding-right: 10pt;
    display: inline-block;
    vertical-align: top;
    width:14%
  }

  &__artwork img {
      width: 100%;
      height: auto;
      padding-bottom: 10pt;
      padding-right: 10pt;
  }

}

.page {

  &__header {
    padding-top: 50pt;
    padding-bottom: 15pt;
  }

  &__subheader {
    padding-top: 25pt;
    padding-bottom: 25pt;
  }

  &__rule {
  }

  &__description {
    padding-top: 10pt;
    padding-bottom: 20pt;
    p {
      margin-bottom: 15pt;
    }
  }
}

.broadcasts {

  &__list {
    height: 180pt;

    &__artwork {
      height: 150pt;
      float: left;
      padding-top: 10pt;
      padding-bottom: 10pt;
      padding-right: 30pt;
      img {
        height: 150pt;
        width: 150pt;
      }
    }

    &__name {
      padding-top: 15pt;
    }

    &__hosts {
      padding-top: 10pt;
    }

    &__description {
      padding-top: 10pt;
    }

    &__link {
      padding-top: 15pt;
    }

  }
}

.hosts {

  &__list {
    margin: 10pt;
    float: left;
    width: 17%;
    text-align: center;

    &__image img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }

    &__name {
      width: 100%;
      padding-top: 5pt;
      float: left;

    }

  }

}


.footer {
  height: 160pt;
  vertical-align: middle;
  max-width: 700pt;
  margin-left:  auto;
  margin-right: auto;
  padding-top: 30pt;

  &__left {
    width: 45%;
    float: left;

    &__description {
      padding-top: 5pt;
    }

    &__copyright {
      padding-top: 10pt;
    }

    &__logo {
      height: 60pt;
      width: 180pt;
      vertical-align: middle;
    }

    &__link {
    }

  }

  &__right {
    width: 30%;
    float: right;

    &__header {
      padding-bottom: 10pt;
    }

    &__page {
      padding-top: 5pt;
    }

  }


}
