// Type
//
// Styles for fonts, weights, sizes, and other font-related styles.

.latest-episode {

  &__header {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }

  &__details {

    &__show {
      font-size: 1.4rem;
      font-weight: 500;
    }

    &__title a {
      color: inherit;
      font-size: 2.3rem;
      text-decoration: none;
      font-weight: 700;
    }

    &__date {
      font-size: .95rem;
      opacity: .6;
    }

    &__description {
      font-size: 1.1rem;
    }

    &__listen a {
      float: left;
      max-width: 50%;
      border-radius: 4pt;
      color: white;
      font-size: 1.1rem;
      background: #DA5647;
      padding: 10pt 20pt 10pt 20pt;
      border: solid #C4392E 1pt;
      text-decoration: none;
    }

    &__listen:hover a {
      background: #C4392E;
      text-decoration: none;
    }

  }

}

.header {
  height: 70pt;
  vertical-align: middle;
  line-height: 70pt;

  &__list {

    &__item {
      font-size: 1rem;
      color: #969DAF;
    }

    &__link {
      text-decoration: none;
    }

  }

}

.recent-episodes {

  &__header {
    color: #4A5160;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }

  &__list {
    text-align: center;
  }

  &__title a {
    color: #4A5160;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }

  &__date {
    color: $bright-red;
    font-size: .85rem;
  }

}

.our-shows {

  &__header {
    color: #4A5160;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }

  &__list a {
    color: #4A5160;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;
  }

  &__title {
    text-align: center;
  }

}

.page {

  &__header {
    font-size: 2.2rem;
    font-weight: 700;
    color: $blue;
  }

  &__subheader {
    font-size: 1.6rem;
    font-weight: 400;
    color: $light-blue;
  }

  &__rule {
    border: 0;
    height: 0;
    border-top: 1px $light-gray;
    border-bottom: 1px solid $light-gray;
  }

  &__description {
    font-size: 1.05rem;
    font-weight: 400;
    color: $light-blue;
    line-height: 1.6rem;
    a {
      color: $bright-red;
      text-decoration: none;
    }
  }

}

.broadcasts {

  &__list {

    &__name {
      font-size: 1.5rem;
      font-weight: 600;
      color: $dark-blue;
      a {
        color: $bright-red;
        text-decoration: none;
      }
    }

    &__hosts {
      font-size: .95rem;
      font-weight: 700;
      color: $blue;
    }

    &__description {
      font-size: 1.05rem;
      font-weight: 400;
      color: $light-blue;
      line-height: 1.6rem;
    }

    &__link {
      font-size: .95rem;
      font-weight: 600;
      color: $light-blue;
      a {
        color: $bright-red;
        text-decoration: none;
        font-weight: 400;
      }
    }

  }
}

.hosts {

  &__list {

    &__name a {
      font-size: .85rem;
      color: $bright-red;
      text-decoration: none;
    }
  }
}

.show {

  &__description {
    font-size: 1.45rem;
    font-weight: 400;
    color: $light-blue;
    line-height: 2rem;
  }

  &__episode {

    &__title a{
      font-size: 1.6rem;
      color: $bright-red;
      text-decoration: none;
      font-weight: 700;
    }

    &__date {
      color: #A9ACB4;
      opacity: 50%;
      font-size: .95rem;
    }

    &__description {
      color: $light-blue;
      font-size: 1.1rem;
    }
  }
}

.footer {
  color: white;

  &__left {

    &__description {
      color: #969DAF;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6rem;
    }

    &__copyright {
      color: #969DAF;
      font-weight: 700;
    }

    &__link {
    }

  }

  &__right {

    &__header {
      font-size: 1rem;
      font-weight: 500;
    }

    &__page a {
      color: #60697D;
      font-size: .9rem;
      text-decoration: none;
    }

  }

}
