---
---

@charset "utf-8";
@import 'reset';
@import 'colors';
@import 'fonts';
@import 'footer';
@import 'type';
@import 'layout';
@import 'mobile';
@import 'video';

// Body

body {
  background: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}
